paddlepaddle
paddlehub
requests
moviepy
mutagen
torch
torchaudio
typing
pydub
scipy
diffusers==0.12.1
transformers==4.21.2
accelerate
ftfy
regex
tqdm
timm
fairscale
open_clip_torch
httpx
sentence-transformers
gradio
